*~
.bash_history
.cache/
.codeintel/
.config/pulse/
.config/sublime-text-3/*
.cpl/
.dbus/
.dmenu_cache
.dotfiles/
.DS_Store
.gconf/
.git/
.git-credentials
.gksu.lock
.gnome2/
.gnupg/
.gvfs/
.icons/
.java/
.jmol/
.lesshst
.linuxbrew/
.local/
.log/
.mozilla/
.qt/
.rnd
.ssh/
.sudo_as_admin_successful
.subversion/
.thumbnails/
.unison/
*.tmp
.xsession_old
.Xauthority
