# .exports
# Exports all environment variables
# Sourced by .bashrc (which is itself sourced by .bash_profile); sources .path and .prompt

if [ -f ~/.path ]; then
        source ~/.path
fi

if [ -f ~/.prompt ]; then
        source ~/.prompt
fi

export MANPATH="$HOME/.linuxbrew/share/man:$MANPATH"
export INFOPATH="$HOME/.linuxbrew/share/info:$INFOPATH"
export PYTHONPATH="$HOME/Downloads/timesearch/timesearch:$PYTHONPATH"

export LC_ALL=en_GB.UTF-8
export SHELL="/bin/bash"
export VISUAL="vim"
#export TERMINAL="gnome-terminal" # Or whatever, just an example

# Export colourings for less (to make manpages easier to read)
# Colors:
default=$(tput sgr0)
red=$(tput setaf 1)
green=$(tput setaf 2)
purple=$(tput setaf 5)
orange=$(tput setaf 9)
# Less colors for man pages:
export PAGER=less
# Begin blinking
export LESS_TERMCAP_mb=$red
# Begin bold
export LESS_TERMCAP_md=$orange
# End mode
export LESS_TERMCAP_me=$default
# End standout-mode
export LESS_TERMCAP_se=$default
# Begin standout-mode - info box
export LESS_TERMCAP_so=$purple
# End underline
export LESS_TERMCAP_ue=$default
# Begin underline
export LESS_TERMCAP_us=$green

# FROM .PATH
#export PATH="$HOME/.linuxbrew/bin:$HOME/bin:$HOME/local/bin:$HOME/DeHydrate/Code:$PATH"
#LD_LIBRARY_PATH="/home/james/usr/local/lib"
#C_INCLUDE_PATH="/home/james/usr/local/include"
#LD_RUN_PATH="/home/james/usr/local/lib"
